<form id="login_form" action="{% url "courses.views.Student.login" %}" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="large-12">
			<div class = "large-12 columns left" style="text-align:center">
				<label class="inline">Email
					<input type="text" name="id_login_email" class="inline"> 
					{{ login_form.email }}
					{{ login_form.username.errors }}
				</label>
				<label for="id_login_password">
					Password
					<input type="password" name="id_login_password">
					{{ login_form.password }}
					{{ login_form.password.errors }}
				</label>

				<div style="display:none">
					<input type="hidden" name="next" value="{{ next }}">
				</div>
				
				<div class="submitbutton">
					<input type="submit" class="button" value="Login" />
				</div>

				<a href="/forgot-password/">Forgot Password?</a>
			</div>			
		</div>
	</div>
</form>