<form id="login_form" action="{% url "courses.views.Student.login" %}" method="post">
	{% csrf_token %}
	<div class="row">
			<div class = "large-12 columns center">
				<div class="row">
					<br>
				</div>
				<div class="row">
					<label class="error">
						{% for error in errors %}
						{{ error }}
						{% endfor %}
					</label>
				</div>

				<label class="inline">Username
					<input type="text" name="username" class="inline">
					{{ login_form.username }}
					{{ login_form.username.errors }}
				</label>
				<label for="password">
					Password
					<input type="password" name="password">
					{{ login_form.password }}
					{{ login_form.password.errors }}
				</label>

				
				<div class="submitbutton">
					<input type="submit" class="button" value="Login" />
				</div>

				<a href="/forgot-password/">Forgot Password?</a>

			</div>	
	</div>
</form>
