{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="large-3 columns left">
		<br>		
	</div>
	<div class="large-6 columns left">
		{% include "Student/partials/forgot_password.html" %}
	<div class="large-3 columns left">
		<br>		
	</div>
</div>

<div id="create_student_modal" class="reveal-modal tiny" data-reveal>
  {% include "Student/partials/create_student.html" %}
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="login_student_modal" class="reveal-modal tiny" data-reveal>
  {% include "partials/login.html" %}
  <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}