{% extends "base.html" %}

{% block content %}
    <div class="row text-center">
        <h3>Grades</h3> 
        <br>       
    </div>
    <div class="row">
        <dl class="vertical tabs" data-tab>
            <dd class="tab-title active">
                <a href="#grade-overview">Overview</a>
            </dd>
            {% for section in sections %}
                <dd class="tab-title">
                    <a href="#{{ section.slug }}">{{ section.course.title }}</a>
                </dd>
            {% endfor %}
        </dl>

        <div class="tabs-content vertical">
            <div class="content active" id="grade-overview">
                <div class="panel">
                    Welcome to the course grade section. All your course grades will be seen here soon!
                </div>
            </div>
            {% for section, assignments, assignment_types in section_grades %}
                <div class="content" id="{{ section.slug }}">
                    <div class="panel">
                    {% include "Student/partials/course_grades.html" %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}