{% extends "base.html" %}
{% block content %}
   <div class="row">
   		<div class="large-3 columns left">
   			<br>
   		</div>
   		<divc class="large-6 columns left">
   			<label class="header">
        		<h2>Where do you go to school?</h2>
       		</label>
   		</div>
   </div>

   <form id="create_form" action="{% url "courses.views.Student.join_school"%}" method="post">
    {% csrf_token %}
	<div class="row">
		<div class="large-3 columns left">
			<br>
		</div>
		<div class="large-6 columns left">
			<label class="error">
				{% for error in errors %}
				{{ error }}
				{% endfor %}
			</label>
		</div>
	</div>

    <div class="row">
		<div class="large-4 columns left">
			<br>
		</div>
		<div class="large-4 columns left">
			{{ form.school }}
		</div>
	</div>

    <div class="row text-center">
    	<div class="large-3 columns left">
    		<br>
    	</div>
		<div class="large-6 columns left">
				In order to use all of 4xB's features, you must verify that you actually attend your school.
        	<br>
        	<br>
        		{{ message }}
        	<br>
		</div>
    </div>
    <div class="row"><br></div>
	<div class="row">
		<div class="large-4 columns left">
			<br>
		</div>
		<div class="large-4 columns left">
			{{ form.email }}
		</div>
	</div>

	<div class="row text-center">
		<div class="large-12 columns left">
            <input type="submit" class="button secondary" name="later" value="Don't Verify">
            <input type="submit" class="button" name="now" value="Verify Email">
		</div>
	</div>
</form>

{% endblock %}
