Django==1.6.2
Markdown==2.3.1
South==0.8.4
boto==2.31.1
chardet==2.0.1
colorama==0.2.5
debtagshw==0.1
defer==1.0.6
dirspec==13.10
django-model-utils==1.4.0
django-storages==1.1.8
lxml==3.3.3
oauthlib==0.6.1
oneconf==0.3.7
pexpect==3.1
piston-mini-client==0.7.5
python-apt==0.9.3.5
python-dateutil==2.1
python-debian==0.1.21-nmu2ubuntu2
pyxdg==0.25
reportlab==3.0
requests==2.2.1
sessioninstaller==0.0.0
virtualenv==1.11.6
wsgiref==0.1.2
xdiagnose==3.6.3build2
zope.interface==4.0.5
