{% extends "base.html" %}
{% block content %}
        <div class="row">
            <div class="large-12 columns text-center">
                <h3>Groups</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-12 columns text-left">
                {% for group in groups %}
                    <div id="list_item">
                        <a href="{% url "gradeGroup.views.show_group" group.pk %}">{{ group.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
