{% extends "base.html" %}

{% block content %}
<div class="row">
    <br>
</div>

<div class="row">
    <div class="large-12 columns text-center">
        <h3>{{ group.name }}</h3>
    </div>
</div>

<div class="row">
    <br>
</div>

<div class="row">
    <div class="large-2 columns left">
        <br>
        {% if not is_member %}
        <form action="{% url "gradeGroup.views.join_group" group.id %}">
            <input type="submit" class="button" value="Join Group">
        </form>
        {% else %}
        <form action="{% url "gradeGroup.views.leave_group" group.id %}">
            <input type="submit" class="button" value="Leave Group">
        </form>
        {% endif %}
    </div>
    <div class="large-4 columns left text-center">
        <table class="text-center">
            <tr>
                <th>Members</th>
            </tr>
            {% for member in members %}
            {% if member.permission == "student" %}
                <tr>
                    <td class="left"><a href="/student/profile/{{ member.student.user.id }}">{{ member.student}}</a></td>
                </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td class="left">No Members</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="large-4 columns right text-center">
        <table class="text-center">
            <tr>
                <th>Admins</th>
            </tr>
            {% for member in members %}
            {% if member.permission == "admin" or member.permission == "creator" %}
                <tr>
                    <td class="left"><a href="/student/profile/{{ member.student.user.id }}">{{ member.student}}</a></td>
                </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
