<table>
    <thead>
        <tr>
            <th>
                Group
            </th>
            <th>
                Member Count
            </th>
        </tr>
    </thead>
{% for group in groups %}
    <tr>
        <td>
            <a href="{% url "gradeGroup.views.show_group" group.pk %}">{{ group.name }}</a>    
        </td>
        <td>
            {% if group.size != 1 %}
            {{ group.size }} Members
            {% else %}
            {{ group.size }} Member
            {% endif %}    
        </td>
    </tr>
{% empty %}
    <tr>
        No Groups
    </tr>
{% endfor %}
</table>