<h5><b>Class Assignments</b></h5>
	
<div class="panel text-center">
	<dl class="accordion" data-accordion>
		{% for courseitem in courseItems %}
			<dd>
				<a href="#{{ courseitem.slug }}"><span class="left">{{ courseitem.due_date | date:"D M d" }}</span    > {{ courseitem.name }}<span class="right">--/{{ courseitem.point_value}}</span></a>
				<div id="{{ courseitem.slug }}" class="content">
					Notes: {{ courseitem.description }}
					<a href="{% url "courses.views.Student.add_student_item" courseitem.id %}" class="button tiny">
						Add Assignment
					</a>
				</div>
			</dd>

		{% empty %}
			<dd>No Assignments Yet!</dd>
		{% endfor %}
	</dl>
</div>