{% extends "base.html" %}

{% block content %}

{% if enrolled %}
<div class="row text-center">
	<div class="large-12 columns">
		<h3>Browse Courses</h3>
		<h5> at {{ school.name }}</h5>
	</div>
</div>

<div class="row">
	<br>
</div>

<div class="row">
	<div class="large-3 small-3 hide-for-small-only columns left">
		<div class="panel">
			<ul class="side-nav">
				<li><a href="/course/students_courses">My Courses</a></li>
				<li class="active"><a href="/course/browse">Browse Courses</a></li>
			</ul>
		</div>
	</div>

	<div class="small-6-centered show-for-small-only columns text-center centered">
		<div class="panel small-6-centered">
		<ul class="side-nav">
			<li class="active"><a href="/course/students_courses">My Courses</a></li>
			<li><a href="/course/browse">Browse Courses</a></li>
		</ul>
		</div>
	</div>

	<div class="small-1 columns left">
		<br>
	</div>
	
	<div class="large-5 medium-6 small-10-centered columns text-center left">
		<table class="text-center">
			<tr>
				<th>Dept</th>
				<th>Course ID</th>
				<th>Course Title</th>
				<th>Credits</th>
			</tr>
			{% for course in courses %}
				<tr>
					<td><a href="">{{ course.dept }}</a></td>
					<td><a href="">{{ course.courseID }}</a></td>
					<td class="left"><a href="/course/profile/{{ course.id }}">{{ course.title}}</a></td>
					<td>{{course.credits }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class="large-3 columns text-center right">
		<a href="/course/create" class="button" data-reveal-id="add_course_modal">Add Course</a>	
	</div>
</div>

<div id="add_course_modal" class="reveal-modal tiny" data-reveal>
	{% include "Course/partials/add_course.html" %}
	<a class="close-reveal-modal">&#215;</a>
</div>

{% else %}
<div class="row text-center">
	<h3>Error: Not Enrolled.</h3>
	<p>
		In order to browse courses you must be verify your .edu email address.
	</p>
	<a href="{% url "courses.views.Student.join_school" %}"><input type="submit" class="button" value="Verify Email"></a>
</div>
<div class="row">
	<div class="large-4 small-10 columns left">
		<br>
	</div>
</div>
{% endif %}

{% endblock %}
