{% extends "base.html" %}

{% block content %}
<form id="GroupForm" action="{% url "courses.views.Course.create_course" %}" method="post">
{% csrf_token %}
	
	<div class="row">
		<br>
	</div>
	<div class="row">
		<div class="large-12">
			<div class="large-4 columns">
				<br>
			</div>

			<div class="large-4 columns left">
				<div class="row">
					<label class="error">
						{% for error in errors %}
						{{ error }}
						{% endfor %}
					</label>
				</div>
				<div class="row collapse">
					<label class="">
						Course Name
						<input type="text" name="title">
						{{ course_form.title }}
					</label>
				</div>
				<div class="row collapse">
					<label class="small-7">
						Deptartment
						<input type="text" name="dept">
						{{ course_form.dept }}
					</label>
					<label class="small-4">
						Course ID
						<input type="text" name="courseID">
						{{ course_form.courseID }}
					</label>
				</div>
				<div class="row collapse">
					<label class="">
						Course Description
						<input type="text" name="course_unique">
						{{ course_form.course_unique }}
					</label>
				</div>
			</div>
		</div>
		<div class="large-4 columns left">
			<br>
		</div>
	</div>

	<div class="row">
		<div class="large-12">
			<div class="large-4 columns left">
				<br>
			</div>
			<div class="large-4 columns left">
				<div class="submitbutton" style="text-align:center">
					<input type="submit" class="button" value="Create Course">		
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}