{% extends "base.html" %}

{% block content %}
<div class="row">
	<br>
</div>
<div class="row">
	<div class="large-12 columns text-center">
		<h3>{{ course.title }}</h3>
	</div>
</div>

<div class="row">
	<br>
</div>

<div class="row">
	<div class="large-3 columns text-center left">
		<h5><b>Information</b></h5>
		<div class="panel">
			<b>Dept: </b>{{ course.dept }}
			<br>
			<b>ID: </b>{{ course.courseID }}
			<br>
			<b>Enrolled: </b>0
			<br>
		</div>
	</div>
	<div class="large-6 columns text-center left">
		{% include "Course/partials/course_items.html" %}
	</div>
</div>
{% endblock %}