<nav class="top-bar" data-topbar>
	<div class="columns">
		<ul class="title-area">
			<li class= "name">
				<h1>
	                {% if not user.is_authenticated %}
					<a href="/">4xB</a>
	                {% else %}
	                <a href="/student/dashboard">4xB</a>
	                {% endif %}
				</h1>
			</li>
			<li class="toggle-topbar menu-icon">
				<a href="#">
					<span>menu</span>
				</a>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">

				{% if not user.is_authenticated %}
	            <li><a href="/accounts/login.html">Login</a></li>
	            {% else %}
	            <li class="divider"></li>
	            <li class="has-dropdown not-click"><a href="{% url "courses.views.Course.show_student_dashboard" %}">Courses</a>
					<ul class="dropdown">
						<li><a href="{% url "courses.views.Course.show_student_dashboard" %}">My Courses</a></li>
						<li><a href="{% url "courses.views.Course.browse_courses" %}">Find Courses</a></li>
						<li><a href="/course/create">Create a Course</a></li>
					</ul>
				</li>
	            <li class="divider"></li>

	            <li class="has-dropdown not-click"><a href="{% url "courses.views.Student.show_student_groups" %}">Groups</a>
					<ul class="dropdown">
						<li><a href="#">My Groups</a></li>
						<li><a href="#">Find Group</a></li>
						<li><a href="{% url "gradeGroup.views.create_grade_group" %}">Create a Group</a></li>
					</ul>
	            </li>
	            
	            <li class="divider"></li>
	            
	            <li class="has-dropdown not-click"><a href="{% url "courses.views.Student.show_student" user.id %}">{{ user.first_name }}</a>
					<ul class="dropdown">
						<li><a href="{% url "courses.views.Student.logout" %}">Log Out</a></li>
					</ul>
	            </li>                  
	            {% endif %}

				<li>
					<a href=""></a>
				</li>		
			</ul>
		</section>
	</div>
</nav>