<link rel='stylesheet' type='text/css' href='/static/css/main.css'/>
<link rel='stylesheet' type='text/css' href='/static/css/header.css'/>
<link rel='stylesheet' type='text/css' href='/static/foundation/css/foundation.min.css'/>
<link rel='stylesheet' type='text/css' href='/static/font-awesome/css/font-awesome.min.css'/>
<script src="/static/foundation/js/vendor/modernizr.js"></script>
<script src="/static/foundation/js/vendor/jquery.js"></script>
<script src="/static/foundation/js/vendor/fastclick.js"></script>
<script src="/static/foundation/js/foundation.min.js"></script>
<script src="/static/foundation/js/foundation/foundation.tab.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/> 
