
<nav class="top-bar" data-topbar>
	<div class="columns large-1 medium-1 small-1">
		<ul class="title-area">
			<li class= "name">
				<h1>
	                {% if not user.is_authenticated %}
					<a href="/">Whiteboard</a>
	                {% else %}
	                <a href="/student/dashboard">Whiteboard</a>
	                {% endif %}
				</h1>
			</li>
			<li class="toggle-topbar menu-icon">
				<a href="#">
					<span>menu</span>
				</a>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				{% if not user.is_authenticated %}
	            <li><a href="#" data-reveal-id="login_student_modal">Login</a></li>
				<li><a href="#" data-reveal-id="create_student_modal">Register</a>
	            {% else %}
				<li class="divider"></li>
					<li><a href="{% url "courses.views.Student.show_grades" %}">Grades</a></li>
	            <li class="divider"></li>
					<li><a href="{% url "courses.views.Course.show_student_courses" %}">Courses</a></li>
	            <li class="divider"></li>
		            <li><a href="{% url "courses.views.Student.profile" user.id %}">{{ user.first_name }}</a>
				<li class="divider"></li>
					<li><a href="{% url "courses.views.Student.logout" %}">Log Out</a></li>

	            {% endif %}

				<li>
					<a href=""></a>
				</li>
			</ul>
		</section>
	</div>
</nav>
