{% extends "base.html" %}
{% block content %}
<div class="row">
	<br>
	<br>
	<br>
</div>

<div class="row">
	<div class="small-12 large-12">
		<div class="small-0 large-2 columns left">
			<br>
		</div>
		<div class="small-8 columns center">
			<br>

			Welcome to <h2>Whiteboard</h2>
			<p>
				Track Your Schoolwork.
			</p>

			<a href="#" data-reveal-id="login_student_modal" class="button">Login</a>

			<a href="#" data-reveal-id="create_student_modal" class="button">Register</a>
		</div>
	</div>
</div>

<div id="create_student_modal" class="reveal-modal tiny" data-reveal>
  {% include "Student/partials/create_student.html" %}
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="login_student_modal" class="reveal-modal tiny" data-reveal>
  {% include "partials/login.html" %}
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="forgot_password_student_modal" class="reveal-modal tiny" data-reveal>
	{% include "Student/partials/forgot_password.html" %}
	<a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}
