<div class="panel text-center">
	<h4>Assignments</h4>
</div>
<div class="panel text-center">
<dl class="accordion" data-accordion>
{% for studentitem in assignments %}
	<dd>
		<a href="#{{ studentitem.courseitem.slug }}-student"><span class="left">{{ studentitem.courseitem.courseInstance.course.title }}: {{ studenitem.courseitem.due_date | date:"D M d" }}</span> {{ studentitem.courseitem.name }} <span class="right">{%if studentitem.score == None %}--{% else %}{{ studentitem.score }}{% endif %}/{{ studentitem.courseitem.point_value}}</span></a>
		<div id="{{ studentitem.courseitem.slug }}-student" class="content">
			<div class="row">
				<div class="large-9 columns text-left">
					Notes: {{ student_item.description }}
				</div>
				<div class="large-3 columns left">
					<a href="#" data-reveal-id="{{studentitem.courseitem.slug}}-edit" class="button tiny">Edit</a>
				</div>
			</div>
		</div>
	</dd>
	
	<div id="{{studentitem.courseitem.slug}}-edit" class="reveal-modal tiny" data-reveal>
		{% include "Student/partials/edit_studentitem.html" %}
		<a class="close-reveal-modal">&#215;</a>
	</div>
{% empty %}
	<dd>No Assignments Yet!</dd>
{% endfor %}
</dl>
</div>