<form>
	<div class="row">
		<br>
	</div>
	<div class="row">
		<div class="large-4 columns">
			<br>
		</div>
		<div class="large-2 columns">
			<div class="row collapse">
				<div class="small-10">
					<label class="">
						First Name
						<input type="text" name="">
					</label>
				</div>
			</div>
		</div>
		<div class="large-2 columns left">
			<div  class="row collapse">
				<div class="small-15">
					<label>
						Last Name
						<input type="text" name="">
					</label>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12">
			<div class="large-4 columns left">
				<br>
			</div>
			<div class="large-4 columns left">
				<label>
					Email
					<input type="text" name="">
				</label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12">
			<div class="large-4 columns left">
				<br>
			</div>
			<div class="large-4 columns left">
				<label>
					Confirm Email
					<input type="text" name="">
				</label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12">
			<div class="large-4 columns left">
				<br>
			</div>
			<div class="large-4 columns left">
				<label>
					Password
					<input type="password" name="">
				</label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12">
			<div class="large-4 columns left">
				<br>
			</div>
			<div class="large-4 columns left">
				<label>
					Confirm Password
					<input type="password" name="">
				</label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12">
			<div class="large-4 columns left">
				<br>
			</div>
			<div class="large-4 columns left">
				<div class="submitbutton" style="text-align:center">
					<input type="submit" class="button" value="Create User">		
				</div>
			</div>
		</div>
	</div>
</form>