<form id="create_form" action="{% url "courses.views.Student.create_student" %}" method="post">
    {% csrf_token %}
	<div class="row">
		<label class="error">
			{% for error in errors %}
			{{ error }}
			{% endfor %}
		</label>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<div class="row collapse">
				<div class="small-10">
					<label class="">
						First Name
						<input type="text" name="first_name">
					</label>
				</div>
			</div>
		</div>
		<div class="large-6 columns left">
			<div  class="row collapse">
				<div class="small-15">
					<label>
						Last Name
						<input type="text" name="last_name">
					</label>
				</div>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns left">
			<label>
				Email
				<input type="text" name="email">
			</label>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns left">
			<label>
				Confirm Email
				<input type="text" name="confirm_email">
			</label>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns left">
			<label>
				Password
				<input type="password" name="password">
			</label>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns left">
			<label>
				Confirm Password
				<input type="password" name="confirm_password">
			</label>
		</div>
	</div>

	<div class="row text-center">
		<div class="large-12 columns text-center">
			<div class="submitbutton" style="text-align:center">
				<input type="submit" class="button" value="Create User">
			</div>
		</div>
	</div>
</form>