<form id="StudentItemForm" action="{% url "courses.views.Student.edit_student_item" studentitem.id %}" method="post">
    {% csrf_token %}    
    <div class="row">
        <h4> {{ studentitem.courseitem.name }} </h4>
        <h5> Due Date: {{ studentitem.courseitem.due_date | date:"D d M Y f a" }} </h5>
        <h5> Assignment Value: {{ studentitem.courseitem.point_value }} points </h5>
        {{ student_item_form }}
    </div>
    <div class="row">
            <div class="large-6 columns text-center">
                <a href="{% url "courses.views.Student.remove_student_item" studentitem.pk %}" class="button alert">
                    Remove
                </a>
            </div>
            
            <div class="large-6 columns text-center">
                <input type="submit" class="button" value="Update">
            </div>
    </div>
</form>