<div class="text-center">
	<h4>Grades</h4>
	<table>
		<thead>
			<tr>				
				<th>
					Assignment
				</th>
				<th>
					Course
				</th>
				<th>
					Grade
				</th>
			</tr>
		</thead>
		<tbody>
			{% for grade in grades %}
			<tr>
				<td>
					{{ grade.courseitem.name }}
				</td>
				<td>
					{{ grade.courseitem.courseInstance.course.dept }}
					{{ grade.courseitem.courseInstance.course.courseID }}
				</td>
				<td>
					{%if grade.score == None %}--{% else %}{{ grade.score }}{% endif %}/{{ grade.courseitem.point_value}}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>