<div class="text-center">
	<h4>Grades</h4>
	<table>
		<thead>
			<tr>				
				<th>
					Assignment
				</th>
				<th>
					Course
				</th>
				<th>
					Grade
				</th>
			</tr>
		</thead>
		<tbody>
			{% for grade in grades %}
			<tr>
				<td>
					<a href="{% url "courses.views.Student.edit_assignment" grade.pk %}">
						{{ grade.courseitem.name }}
					</a>
				</td>
				<td>
					<a href="{% url "courses.views.Course.show_section" grade.courseitem.courseInstance.pk %}">
						{{ grade.courseitem.courseInstance.course.dept }}
						{{ grade.courseitem.courseInstance.course.courseID }}	
					</a>
				</td>
				<td>
					{%if grade.score == None %}--{% else %}{{ grade.score }}{% endif %}/{{ grade.courseitem.point_value}}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>