<h5><b>Your Assignments</b></h5>
    <div class="panel text-center">
    {% if enrolled %}
        <dl class="accordion" data-accordion>
        {% for studentitem in studentItems %}
            <dd>
                <a href="#{{ studentitem.courseitem.course.slug}}{{ studentitem.courseitem.slug }}-student"><span class="left">{{ studentitem.courseitem.due_date | date:"D M d" }}</span> {{ studentitem.courseitem.name }}<span class="right">{%if studentitem.score == None %}--{% else %}{{ studentitem.score }}{% endif %}/{{ studentitem.courseitem.point_value}}</span></a>
                <div id="{{ studentitem.courseitem.slug }}-student" class="content">
                    <div class="row">
                        <div class="large-9 columns text-left">
                            <p>Due at: {{ studentitem.courseitem.due_date | date:"f a" }}</p>

                            <p>Notes: {{ studentitem.courseitem.description }}</p>
                        </div>
                        <div class="large-3 columns left">
                            <a href="#" data-reveal-id="{{studentitem.courseitem.slug}}" class="button tiny">Edit</a>
                        </div>
                    </div>
                </div>
            </dd>

            <div id="{{studentitem.courseitem.slug}}" class="reveal-modal tiny" data-reveal>
                {% include "Student/partials/edit_studentitem.html" %}
                <a class="close-reveal-modal">&#215;</a>
            </div>

        {% empty %}
            <dd>No Assignments Yet!</dd>
        {% endfor %}
    {% else %}
    Join Class to Add Assignments
    {% endif %}
</div>